body {background-color:black;}
div{
    background-color:white;
    margin-left: 40%;
    border-radius: 15px;
    height: 450px;
    width: 400px;

}
h1{
    font-family: arial;
    font-weight: bold;
    color: grey;
    margin-left: 10%;
    
}
.subframe{
    margin-left:20%;
    height: 22%;
    width: 50%;
}

form{
    margin-left:20%;
}
footer{
    margin-left: 5%;
}
.main-frame{
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;

}

input{
    margin-left: 10%
}
.years{
    width:40px;
}



